.tree-holder {
  .tree-content-holder {
    float: left;
    width: 100%;
  }

  .tree_progress {
    display: none;
    margin: 20px;
    &.loading {
      display: block;
    }
  }

  .tree-table {
    @extend .table;
    @include border-radius(0);

    tr {
      &:hover {
        td {
          background: $hover;
          border-top: 1px solid #ADF;
          border-bottom: 1px solid #ADF;
        }
        cursor: pointer;
      }
      &.selected {
        td {
          background: $background-color;
          border-top: 1px solid #EEE;
          border-bottom: 1px solid #EEE;
        }
      }
    }
  }

  .tree-item {
    .tree-item-file-name {
      max-width: 320px;
      vertical-align: middle;

      i, a {
        color: $gl-link-color;
      }

      img {
        position: relative;
        top:-1px;
      }
    }

    .tree_commit {
      max-width: 320px;
    }

    .tree_time_ago {
      min-width: 135px;
    }
  }

  .tree_author {
    padding-right: 8px;

    .commit-author-name {
      color: gray;
    }
  }

  .tree_commit {
    color: gray;

    .tree-commit-link {
      color: gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .blame {
    img.avatar {
      border: 0 none;
      float: none;
      margin: 0;
      padding: 0;
    }
    td.blame-commit {
      background: #f9f9f9;
      min-width: 350px;

      .commit-author-link {
        color: #888;
      }
    }
    td.blame-numbers {
      pre {
        color: #AAA;
        white-space: pre;
      }
      background: #f1f1f1;
      border-left: 1px solid #DDD;
    }
    td.lines {
      code {
        font-family: $monospace_font;
      }
    }
  }
}

.tree-ref-holder {
  float: left;
  margin-right: 15px;
}

.readme-holder {
  .readme-file-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #777;
    border-bottom: 1px solid #DDD;
    padding: 10px 0;
  }
}

.blob-commit-info {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  .commit {
    padding: 10px 15px;

    .commit-row-title {
      font-size: 13px;

      .commit-row-message {
        font-weight: normal;
        color: #555;
      }
    }
  }
}

#modal-remove-blob > .modal-dialog { width: 850px; }
